@media screen and (max-width: 768px) {
body{
        display: flex; 
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    h1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 3px black solid;
        border-radius: 5px;
        height: 100px;
        width: 370px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    nav{
        width: 370px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 3px black solid;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    main{
        width: 370px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 3px black solid;
        border-radius: 5px;  
        align-items: center;
        margin-bottom: 5px;
    }
    article{
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 3px black solid;
        border-radius: 5px;  
    }
    footer{
        width: 370px;
        margin: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: 3px black solid;
        border-radius: 5px;    
    }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
body{
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 20vh 60vh 10vh;
        
    }
    h1{
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border: 3px black solid;
        border-radius: 5px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    nav{
        grid-column: 1;
        grid-row: 2;
        text-align: center;
        display: flex;
        flex-direction: column;
        border: 3px black solid;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-right: 5px;
    }
    main{
        grid-column: 2;
        grid-row: 2;
        text-align: center;
        display: flex;
        flex-direction: column;
        border: 3px black solid;
        border-radius: 5px;  
        align-items: center;
        margin-bottom: 5px;
        margin-left: 5px;
    }
    article{
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 3px black solid;
        border-radius: 5px;  
    }
    footer{
        grid-column: 1/3;
        margin: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: 3px black solid;
        border-radius: 5px;    
    }
}
@media screen and (min-width: 1280px) {
body{
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 10vh 40vh 10vh;
        
    }
    h1{
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border: 3px black solid;
        border-radius: 5px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    nav{
        grid-column: 1;
        grid-row: 2;
        text-align: center;
        display: flex;
        flex-direction: column;
        border: 3px black solid;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-right: 5px;
    }
    main{
        grid-column: 2;
        grid-row: 2;
        text-align: center;
        display: flex;
        flex-direction: row;
        border: 3px black solid;
        border-radius: 5px;  
        align-items: center;
        margin-bottom: 5px;
        margin-left: 5px;
    }
    article{
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 3px black solid;
        border-radius: 5px; 
    }
    article p{
        padding-bottom: 80px;
    }
    footer{
        grid-column: 1/3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: 3px black solid;
        border-radius: 5px;    
    }
}